@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #1A252F;
    background: #ecf0f1;
    padding: 0 1em 1em;
}

h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}

h4 {
    margin: 0 0 0.5em;
    font-weight: normal;
    text-align: center;
}

input {
    display: none;
}

.bayan__list {
    max-width: 80%;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem -0.1rem rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.bayan__list:hover .bayan__label,
.bayan__list:hover .bayan__label span {
    color: #D65DB1;
}

.bayan__item {
    width: 100%;
    color: #1A252F;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.bayan__item:last-child {
    border-bottom: none;
}

.bayan__item:hover .bayan__label span {
    transform: rotate(-90deg);
}

.bayan__label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #D3F5FF;
    font-weight: bold;
    cursor: pointer;
}

.bayan__label span {
    color: #D3F5FF;
    transition: transform 0.35s;
}

.bayan__content:hover,
.bayan__label:hover+.bayan__content {
    max-height: 100vh;
    padding: 1em;
    cursor: pointer;
}

.bayan__content {
    display: flex;
    justify-content: center;

    max-height: 0;
    padding: 0 1em;
    background-color: #D3F5FF;
    transition: all 0.35s;
}

.bayan__image {
    width: 50%;
}

input:checked~.bayan__label {
    color: #D65DB1;
}

input:checked~.bayan__label span {
    transform: rotate(-90deg);
}

input:checked~.bayan__content {
    max-height: 100vh;
    padding: 1em;
}

/* 820px 450px */